name = "anime-movie-ical"
main = "src/index.ts"
compatibility_date = "2023-05-18"

[placement]
mode = "smart"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
